:root {
    /* Primary */
    --clr-primary-300: hsl(185, 75%, 39%);
    --clr-primary-800: hsl(229, 23%, 23%);
    --clr-primary-600: hsl(227, 10%, 46%);

    /* Neutral */
    --clr-neutral-500: hsl(0, 0%, 59%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    /* font weight */
    --ff-normal: 400;
    --ff-bold: 700;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    font-size: 1.125rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: var(--ff-normal);
    background-color: var(--clr-primary-300);
    -webkit-font-smoothing: antialiased;
    margin: 1.5rem;
    background-image: url('images/bg-pattern-top.svg'), url("images/bg-pattern-bottom.svg");
    background-position: bottom 45vh right 45vw, top 45vh left 45vw ;
    background-repeat: no-repeat;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: 0.4rem solid var(--clr-neutral-100);

}

.card {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    background-color: var(--clr-neutral-100);
    max-width: 350px;
}

.card > h1 {
    font-size: 1.2rem;
    color: var(--clr-primary-800);
    padding-top: 4.5rem;
}

.card > h1 > span {
    font-size: 1.2rem;
    color: var(--clr-neutral-500);
    font-weight: var(--ff-normal);
    padding-left: 0.4rem;
}

.card > p {
    padding-top: 0.4rem;
    font-size: 1rem;
    color: var(--clr-neutral-500);
    letter-spacing: 1px;
}

.line {
    height: 1px;
    background-color: var(--clr-neutral-500);
    width: 100%;
    margin-block: 1.5rem 0;
    opacity: 0.2;
}

.flex-row {
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
}

.flex-row > p {
    font-weight: var(--ff-bold);
    color: var(--clr-primary-800);
}

.flex-row > p > span {
    font-weight: var(--ff-normal);
    font-size: 0.8rem;
    color: var(--clr-neutral-500);
    letter-spacing: 1px;
}
